:root {
  --bg-color: #f3f3f3;
  --main-font-color: #383838;
  --header-font-color: #313131;
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  color: var(--main-font-color);
  font-size: 1.2rem;
  line-height: 2.2rem;
}

h1, h2, h3 {
  font-family: 'Mukta', sans-serif;
  font-size: 1.5rem;
  color: var(--header-font-color);
  line-height: 2.5rem;
}

p {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  color: var(--main-font-color);
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
  display: inline-block;
  transition: 0.5s ease-out;
}

a:hover {
  color: var(--header-font-color);
  transform: translateY(-3px);
}

.banner {
  background-image: url("/images/eberhard-grossgasteiger-cs0sK0gzqCU-unsplash.jpg");
  background-size: cover;
  padding: 80px 0;
}

.container {
  margin: 0 auto;
  width: 60%;
  position: relative;
  top: -75px;
}

.container > div {
  margin-bottom: 30px;
}

.center-content {
  text-align: center;
}

.img-round {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 5px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.justify-text {
  text-align: justify;
}

#profile-title > h2 {
  font-size: 1rem;
}

@media (max-width: 800px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 80%;
  }
}
/* 
#banner-slide-in {
  animation: slide-in-down 1s ease-out forwards;
} */

.slide-left-in {
  /* visibility: hidden; */
  animation: slide-in-left 1.5s ease-out forwards;
  animation-delay: calc(var(--order) * 0.5s);
}

@keyframes slide-in-left {
  0% { transform: translateX(-100vw); visibility: hidden; };
  100% { transform: translateX(0vw); visibility: visible; };
}

/* @keyframes slide-in-down {
  0% { transform: translateY(-80px) };
  100% { transform: translateY(0px) };
} */