:root {
  --bg-color: #fdebdd;
  --card-color: #f8d4bc;
  --card-border-color: #f6c9aa;
  --main-font-color: #4e4040;
  --header-font-color: #2d1e1e;
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  color: var(--main-font-color);
  font-size: 1.2rem;
  line-height: 2.2rem;
}

h1, h2, h3 {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  color: var(--header-font-color);
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
  display: inline-block;
  transition: 0.5s ease-out;
}

a:hover {
  color: var(--header-font-color);
  transform: translateY(-3px);
}

.container {
  margin: 0 auto;
  width: 80%;
}

.peach-card {
  background-color: var(--card-color);
  border: 2px solid var(--card-border-color);
  margin: 40px 0;
  border-radius: 5px;
  padding: 15px 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 1s ease-out;
}

.peach-card:hover {
  background-color: var(--card-border-color);
  border: 2px solid var(--card-color);
}

.center-content {
  text-align: center;
}

.img-round {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 5px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}